

/*colors: 
purple: #B21DAC
blue: #009DD9;
orange: #FF8300;
green: #92D050;
red: #D70036;
gray: #A9AAAD;
navy: #002060;
dark gray: #404040;
yellow: #FFCD00;
*/

body{
	margin:5px;
	font-family: Calibri;
}

iframe:focus { 
    outline: none;
}

iframe[seamless] { 
    display: block;
}

iframe{
	width:100%;
	height:750px;
	border:none;
}

.section_title{
	text-align: center;
}
.country {
	height: 140px;
	width:140px;
	color:white;
	text-align: center;
	font-size:50px;
	font-family: Calibri;
	display:inline-block;
	box-sizing:border-box;
	line-height: 30px;
	padding:30px 0px;
	margin: 5px;
}


.country >p {
	font-size: 20px;
	vertical-align: center;
	font-style: italic;
}
.country:nth-child(10n+1) {
	background-color: #B21DAC;
}

.country:nth-child(10n+2) {
	background-color: #009DD9;
}
.country:nth-child(10n+3) {
	background-color: #FF8300;
}
.country:nth-child(10n+4){
	background-color: #A9AAAD;
}
.country:nth-child(10n+5){
	background-color: #D70036;
}
.country:nth-child(10n+6){
	background-color: #92D050;
}
.country:nth-child(10n+7){
	background-color: #002060;
}
.country:nth-child(10n+8) {
	background-color: #FFCD00;
}
.country:nth-child(10n+9) {
	background-color: #F15722;
}
.country:nth-child(10n+10) {
	background-color: #404040;
}
