

/*colors: 
purple: #B21DAC
blue: #009DD9;
orange: #FF8300;
green: #92D050;
red: #D70036;
gray: #A9AAAD;
*/

body{
	margin:5px;
	font-family: Calibri;
}



.country {
	height:100px;
	width:100px;
	color:white;
	text-align: center;
	font-size:40px;
	font-family: Calibri;
	display:inline-block;
	box-sizing:border-box;
	line-height: 20px;
	padding:20px 0px;
}


.country >p {
	font-size: 20px;
	vertical-align: center;
}
.country:nth-child(6n+0) {
	background-color: #B21DAC;
}

.country:nth-child(6n+1) {
	background-color: #009DD9;
}
.country:nth-child(6n+2) {
	background-color: #FF8300;
}
.country:nth-child(6n+3) {
	background-color: #A9AAAD;
}
.country:nth-child(6n+4) {
	background-color: #D70036;
}
.country:nth-child(6n+5) {
	background-color: #92D050;
}